@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);

body {
    font-family: 'Rokkitt', serif;
    font-size: 16px;

    margin: 0;
}

.mast {
  padding: 60px;
  margin: 0 0 48px 0;
  background: url("../images/sewllkwe-bg.jpg") no-repeat center top fixed;
  background-size: cover;
}

.mast__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 130px;
}

.mast__title {
    text-align: center;
    color: #fff;
    font-size: 6em;
    margin-bottom: 0;
}

.mast__slogan {
    font-weight: 700;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    color: #ffe619;
}


@media (max-width: 930px) {
    .mast__title {
        font-size: 4em;
    }

    .mast__slogan {
        font-size: 1.25em;
    }

}

@media (max-width: 620px) {
    .mast__title {
        font-size: 2.4em;
    }

    .mast__slogan {
        font-size: .8em;
    }

}

@media (max-width: 390px) {

    .mast__title {
        font-size: 2em;
    }

}
